/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #00d9ff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  background-color: #033d47;
  color: white;
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}

/* Hero Section */
.hero-section {
  background-color: #00d9ff;
  color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5); /* Pour un effet sombre */
  padding: 50px;
  border-radius: 10px;
  max-width: 800px; /* Limite la largeur du contenu */
  width: 90%; /* La largeur est responsive */
}

.site-logo {
  width: 300px; /* Taille du logo */
  height: 300px;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-content ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  font-size: 1rem;
  margin-bottom: 30px;
}

.hero-content ul li {
  margin-bottom: 10px;
  text-align: center;
}

.cta-button {
  padding: 15px 30px;
  background-color: #00d9ff;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #033d47;
}

/* Services Section */
.services-section {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1rem;
  color: #777;
}

/* Reservation Section */
.reservation-section {
  background-color: #033d47;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.reservation-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.reservation-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

/* Comment Section */
.comment-section {
  background-color: #76ceec;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.comment-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.comment-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.comment-section .cta-button {
  background-color: #00d9ff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.comment-section .cta-button:hover {
  background-color: #0f2947;
}

/* Contact Section */
.contact-section {
  background-color: #f4f4f4;
  padding: 40px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Footer */
footer {
  background-color: #033d47;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 2rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .cta-button {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
}

img {
  height: 200px;
  width: 200px;
}
